body {
	font-size:20px;
  font-family: $main-font;
  line-height: 1.5em;
}
p, ul {
	margin-bottom:16px; 
}
p:last-child, ul:last-child {
  margin-bottom: 0px;
}
/* Headings */
h1,h2,h3 {
  font-family:$heading;
  line-height: 1em;
  margin-bottom: $baseline / 2;
  color:$blue--2;
  font-weight: 300;
}
h1 {
  font-size:3rem;
  color:black;
}
h2 {font-size:2rem;}
h3 {
  font-family: $main-font;
}

/* Links */
p a {color:$red;}
a {color:$blue--2;}
a:hover {
  color:$blue--3;
  text-decoration: none;
}
/* Blockquote */
blockquote {
  display:block;
  padding: 16px 20px 16px 45px;
  position: relative;
  font-style: italic;
  font-family:$heading;
  font-weight:300;
  }
 blockquote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/
  
  /*Font*/
  font-size: 60px;
  font-weight: bold;    
  
  /*Positioning*/
  position: absolute;
  left: 10px;
}

blockquote::after{
  /*Reset to make sure*/
  content: "";
}   